/* Wohle App Settings */
#app {
    text-align: center;
    background-image: url('../assets/bg-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
}

/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* Color Palette */

/* 
#009eff blue
#ffaa00 orange
#42b883 green
42b883ef green transparent
*/

/* NavBar */

.bg-light {
    background-color: #009dff73 !important;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a.router-link-exact-active {
    text-decoration: underline 2px;
}

nav a:hover {
    text-decoration: underline 2px;
}

.collapse {
    color: white;
    font-size: 20px;
    margin-right: 30px;
    margin-left: 30px;
}

.navbar-toggler {
    background-color: white;
}

/* Heading */

.home {
    margin-top: 40px;
    margin-bottom: 20px;
}

/* Action Buttons */

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.action-button {
    margin-top: 40px;
    width: 350px;
    height: 250px;
    background-color: #42b883ef;
    border: 3px solid white;
    color: white;
    font-weight: bold;
    font-size: 40px;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.2s;
}

.action-button:hover {
    transform: scale(1.2);
}

/* Category Cards */

.searchForm {
    margin-top: 40px;
    width: 500px;
}

.search-button {
    color: #000;
    background-color: rgba(0, 0, 0, 0);
    border-color: #000;
}

.search-button:hover {
    color: white;
    background-color: #42b883;
    border-color: #42b883;
}

.searchForm input[type="text"]::placeholder {
    text-align: center;
}

.category-button {
    margin-top: 40px;
    width: 350px;
    height: 150px;
    background-color: #42b883ef;
    border: 3px solid white;
    color: white;
    font-weight: bold;
    font-size: 30px;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.2s;
}

.category-button:hover {
    transform: scale(1.2);
}

/* Questions & Answers */

.question {
    width: 550px;
    margin: 20px;
    background-color: #42b883;
    border: 3px solid white;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}

.form-control-question {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.form-control-question:focus {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.answer-button {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    width: 250px;
    min-height: 150px;
    height: auto;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s;
    word-wrap: break-word;
}

.answer-button:hover {
    transform: scale(1.2);
}

.form-control-answer {
    margin: 10px 0 10px 10px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.form-control-answer::placeholder {
    color: white;
    text-align: center;
}

.form-control-answer:focus {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.checkbox {
    margin: 5px;
}

.answer-option {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 250px;
    min-height: 150px;
    height: auto;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
    text-align: center;
}


.answerA {
    background-color: #dfe210;
    border: 3px solid white;
}

.answerB {
    background-color: #60dd6a;
    border: 3px solid white;
}

.answerC {
    background-color: #4972d1;
    border: 3px solid white;
}

.answerD {
    background-color: #d84747;
    border: 3px solid white;
}

.new-question-button {
    background-color: white;
    border: 1px solid black;
    margin: 20px;
    width: 150px;
    height: 50px;
    color: black;
    border-radius: 10px;
    text-align: center;
}

.new-question-button:hover {
    color: white;
    background-color: #42b883;
    border-color: #42b883;
}

/* Timer Bar*/

.timer-bar {
    height: 5px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: width 0.1s linear;
}

/* Login & Register*/

.auth-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-card {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    width: 600px;
}

.auth-title,
.faq-title,
.about-title,
.contact-title {
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
}

.auth-form {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.form-label {
    margin-top: 10px;
}

.card-button {
    margin-top: 10px;
    color: #000;
    background-color: rgba(0, 0, 0, 0);
    border-color: #000;

}

.card-button:hover {
    color: white;
    background-color: #42b883;
    border-color: #42b883;
}

.card-title {
    font-size: 30px;
}

.card-text {
    font-size: 16px;
}

/*Privacy Policy*/

.privacy {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    text-align: left;

}

/* Rankings */

.rankings-container {
    min-height: 40vh;
}

.rankings {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 500px;
}

.badge {
    font-size: 20px;
    font-weight: bold;
    background-color: #42b883;
    color: white;
}

/* User Profile & Admin */

.admin-search-bar {
    margin-top: 50px;
    width: 500px;
}

.admin-filter {
    margin-bottom: 10px;
}

.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-pic {
    margin-right: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.user-container {
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.user-card {
    background-color: white;
    padding: 40px;
    border-radius: 10px;

}

.search-bar {
    margin-top: 50px;
}

.quiz-card {
    margin-top: 40px;
    width: 350px;
    height: 150px;
    background-color: #42b883ef;
    border: 3px solid white;
    color: white;
    font-weight: bold;
    font-size: 30px;
    border-radius: 30px;
    cursor: pointer;
}

.quiz-button {
    margin-right: 5px;
    margin-left: 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border-color: white;
}

.quiz-button:hover {
    color: black;
    background-color: white;
    border-color: #42b883;
}

/* Footer */

footer {
    position: relative;
    bottom: 0;
    margin-top: 200px;
    padding-bottom: 50px;
    width: 100%;
    background-color: #009dff73;

}

footer ul {
    padding-top: 100px;
    padding-left: 0px;
    text-align: center;
    color: white;
}

footer ul li {
    font-weight: bold;
    list-style: none;
    display: inline;
    margin: 2%;
    padding: 1%;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

footer ul li a:hover {
    color: white;
    text-decoration: underline 2px;
}

.ms-2 {
    text-align: left;
}

/* expired Quiz */
.expired {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
    cursor: not-allowed;
    pointer-events: none;
}